.home-section {
  padding: 20px;
  background-color: #f9f9f9;
}

.carousel-container {
  margin-bottom: 30px;
}

.carousel-image {
  max-height: 500px; 
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.featured-products {
  text-align: center;
  margin-top: 40px;
  border-radius: 6px;
}

.featured-products h2 {
  margin-bottom: 20px;
  border-radius: 5px;
}

.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.product-card img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
  border-radius: 4px;
}

.product-card p {
  color:white;
  font-size: 1em;
  font-weight: bold;
}

.toast-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

