
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    outline: none;
  }
  
  
  input[type="text"]::placeholder {
    color:rgb(from color r g b); 
  }
  
  
  .input-with-icon {
    position: relative;
  }
  
  .input-with-icon input[type="text"] {
    padding-left: 30px; 
  }
  
  .input-with-icon i {
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    color: #aaa; 
  }
  