.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.navbar-logo {
  color: white;
  font-size: 1.5rem;
  margin-left: 10;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: white;
}
.logo-container {
  display: flex;
}

.logo {
  width: 30px; 
  height: auto; 
  margin-right: 10px; 
  border-radius: 5px;

}