.App {
  text-align: center;
}

.search-name {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.content {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  padding: 4rem;
  color: white;
  text-align: center;
}

.home-section {
  background-image: url('https://example.com/path/to/your/home-image.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.products-section {
  background-color: #f5f5f5;
  color: #333;
}

.about-section {
  background-image: url('https://example.com/path/to/your/about-image.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.home-section h2,
.about-section h2,
.Women-section h2,
.Child-section h2,
.products-section h2 {
  margin: 0;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-section p,
.about-section p,
.products-section p {
  margin: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.Women-section {
  background-color:transparent;
  color: #333;
}
